<h2><%= current_user.email %>'s picks</h2>
<h2>60's</h2>
<%= text_field_tag(:title, "a", :id => "movie1") %> <p>Year: <span id="movie1year"></span></p>

<!-- 

get user to input title
check if movie is in database
add to database if not
check movie is in correct date range
generate vote with correct details

 -->

 <script> 
   function search(query) {
   $.ajax({
    type: "GET",
    url: '/movies.json',
    data: { 
      q: query
    },
    dataType: 'json',
    success: function(msg) {
   		console.log(msg)
   		$('#movie1').val(msg[0]['title']);
   		$('#movie1year').text(msg[0]['year'])
    }
  });
}

$(function() {
	$('#movie1').blur(function(e) {
		// console.log($('#movie1').val());
		search($('#movie1').val());
	})
});
 </script>