<h2><%= current_user.email %>'s picks</h2>
<h2>60's</h2>


<!-- 

get user to input title
check if movie is in database
add to database if not
check movie is in correct date range
generate vote with correct details

 -->